{block content}
<p>
    We would use the form from previous chapter, just set <strong>floating labels</strong> on. We use slightly smaller
    width layout just to try something else - in-grid or modal form. This is my personal favorite - <strong>responsive
    input group with floating labels:</strong>
</p>
{control codeLines $form}