{block content}
<p>
    Well, for start we can mention <a href="https://getbootstrap.com/docs/5.2/forms/input-group/" target="_blank">
        Bootstrap5's input groups</a>. They can be useful to produce some interesting design and features,
    I found them very nice in many scenarios. But if you watch carefully (that link above), they are,
    in more points, like great but not finished concept.
</p>
<p>This form is quite nice on wider screens, but is terrible on lower screens - yep, it's not responsible (it will be!):</p>
{control codeLines $form}