parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no
# Nastavení výchozích chybových hlášek pro formuláře.
forms:
    messages:
        INTEGER: 'Insert valid number.'
        REQUIRED: '%label is required'