search:
	-
		in: %appDir%
		classes:
			- *Factory
			- *Facade


services:
	- App\Router\RouterFactory::createRouter
	- App\Forms\PersonFormFactory
	- App\Forms\InvoiceFormFactory
	- App\Forms\BookingFormFactory
	- App\Forms\LoginFormFactory
	- Jdvorak23\Bootstrap5FormRenderer\Wrappers
