{block content}
{control codeLines $form}
<p class="mt-3">
    Still not responsive, but with floating labels usable even on smallest devices. Try what happened if you narrow the
    display. This is good use case for some thin forms, in-layout or modal:
</p>