{import '../formsPills.latte'}
{block menu-personForm}
    {include menu}
{/block}
{block content}
<h1 n:block="title" class="text-center my-3">{$forms->getFormName()|firstUpper}</h1>
{include forms}
