{block content}
{control codeLines $form}

<p class="mb-1 mt-2">Our goal is this form layout, with <span class="code-string">col-md-6</span> columns as default,
but some specific setting for shorter controls:</p>

